:root {
  --background: #303443;
  --color-grey: #c9c9c9;
  --color-grey-hover: #ffffff;
  --color-white: #ffffff;
  --color-white-transparent: #f4f6f421;
  --color-white-transparent-hover: #f4f6f45d;
  --color-gray-dark: #a3a3a3;
  --color-h1: #ffffff;
  --color-h2: #a3a3a3;
  --color-p: #bfbfbf;
  --transition-animation: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
